
.nuotrauka1{width: 225px }
.nuotrauka2{width: 225px }
.pic {width: 100%}
.pic2 {width: 70%}
.pavadinimas {text-indent: 10px; color: #1a237e; font-weight: bold;}
.ptextas {text-align: justify;}
.centtextas {text-align: center; color: #558b2f; font-weight: bold;}
.adresotextas {color: grey; font-size:12px;}
.rkortelestextas {color: black; font-size:15px;}

body {background-color: #d7ccc8;}

#and {max-width: 100%}

#myChart {max-width: 50%}

#googleMap {width: 100%; height: 450px; background-color: grey;}
#googleMap1 {width: 100%; height: 450px; background-color: grey;}

#ritachart {background-color: #DADBBF;
  border-radius: 20px;
  padding-top: 10px;
}
#Ritapavadinimas {
	 margin-top: 40px;
}
#Ritacard {background-color: #e6dbd7}

#tab1 {background-color: #987080}
#kris {background-color: #C78C99; color: black}
#rit {background-color: #D0AABD}
#andr {background-color: #DABEB8}

.ct-series-a .ct-line {
  /* Set the colour of this series line */
  stroke: #558b2f;
  /* Control the thikness of your lines */
  stroke-width: 4px;
  /* Create a dashed line with a pattern */
}
	
.ct-series-a .ct-point {
  /* Colour of your points */
  stroke: #558b2f;
  /* Size of your points */
  stroke-width: 10px;
  /* Make your points appear as squares */
  stroke-linecap: oval;
}
.ct-series-b .ct-line {
  /* Set the colour of this series line */
  stroke: #c0ca33;
  /* Control the thikness of your lines */
  stroke-width: 4px;
  /* Create a dashed line with a pattern */
}

.ct-series-b .ct-point {
  /* Colour of your points */
  stroke: #c0ca33  ;
  /* Size of your points */
  stroke-width: 10px;
  /* Make your points appear as squares */
  stroke-linecap: oval;
}